body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: #11275f url('../img/lioninthetent.jpg') no-repeat center center fixed;
	background-size: 2000px;
}

h1 {
	font-family: Helvetica, arial, sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 1.7em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 35px;
	border-bottom: 1px white dotted;
}

h2 {
	font-family: Helvetica, arial, sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 1.3em;
	margin-bottom: 20px;
}

p {
	font-family: Helvetica, arial, sans-serif;
	font-weight: 100;
	color: #fff;
	font-size: 0.9em;
	letter-spacing: 0.08em;
	margin-bottom: 30px;
}

p a {
	color: #fff;
	font-weight: bold;
	border-bottom: 1px dotted #fff;
}

p a:visited {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

a.btn.btn-inverse {
	color: #fff;
	font-family: Helvetica, arial, sans-serif;
	letter-spacing: 0.07em;
	font-weight: 100;
}

.navbar .container {
	max-width: 980px;
	width: auto;
}

.navbar-fixed-top {
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.navbar-fixed-bottom {
	box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
}

#navigation {
	float: right;
	width: 265px;
}

.navButton {
	float:left;
	display: block;
	width: 230px;
	background: url(../img/button.png) no-repeat top left;
	height: 40px;
	padding-top:20px; padding-left: 40px;
	border-radius: 0px 4px 4px 0px;
}	

.navButton.active p{
	font-weight: bold;
	color: #008bd6;
	text-shadow: 0px 0px 4px #6fdbff;
}

.navButton p { 
	margin-left: 15px;
	font-family: arial, helvetica, sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #000;
}

.navButton p:hover{
	font-weight: bold;
	color: #008bd6;
	text-shadow: 0px 0px 4px #6fdbff;
}

.navButtonContainer {
	height: 50px;
}

.navbar .brand {
	padding: 7px 20px 7px;
}

.container-fluid {
	max-width: 980px;
	margin: 70px auto 0;
}

#sidebar-inner {
	width: auto;
	float:left;
}

#sidebar-inner p {
	margin-bottom: 0;
}

#sidebar-inner li {
	list-style: none;
	padding:0;
	overflow: hidden;
}

#content {
	max-width: 460px;
	float:left;
	width:100%;
}

#producerButton {
	margin-bottom: 30px;
}

#poster {
	margin-top: 35px;	
	margin-bottom: 30px;
}

#twitterFeed {
	margin-left:2px;
}

.twtr-widget {
	margin-top: 50px;
}

#sidebar-inner #twtr-widget-1 .twtr-doc, #sidebar-inner #twtr-widget-1 .twtr-hd a, #sidebar-inner #twtr-widget-1 h3, #sidebar-inner #twtr-widget-1 h4 {
	background: none !important;
}

#sidebar-inner #twtr-widget-1 h3, #sidebar-inner #twtr-widget-1 h4{
	text-align: right;
	text-shadow: 1px 1px rgba(0,0,0,0.7);
}

.twtr-ft {
	display: none;
}

.twtr-timeline{
	box-shadow: 0 1px 1px #000;
}

.addthis_toolbox.addthis_default_style {
	margin-top: 10px;
}

.fb-comments.fb_iframe_widget {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 25px;
	position: relative;
}

.profilePhoto {
	float:left;
	display: inline;
	width: 130px;
	margin-right: 15px;
	margin-top:3px;
	border-radius: 3px;
}

#twitter-widget-0 {
	width: 226px !important;
	margin-top: 34px;
}

#twitterHolder {
	height: 500px;
}

.twitter-timeline.btn.btn-inverse.btn-large {
	float:right;
	margin-right: 41px;
	margin-top: 30px;
}

#supporters_btn {
	margin: 10px 0;
}

.contrib {
	list-style: none;
	padding: 0;
	width: 100%;
	margin: 30px 0;
	overflow: hidden;
}

.contrib li {
	display: block;
	float: left;
	margin:0; padding: 0;
	padding: 3px 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.contrib p {
	margin: 0; padding: 0;
	color: #000;
}

.contrib.gold li {
	background-color: #C7A317;
}

.contrib.silver li {
	background-color: #C0C0C0;	
}

.contrib.bronze li {
	background-color: #8C7853;
}


/* Landscape phones and down */
@media (max-width: 767px) {
	
	body {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	
	.navButton {
		width: 100%;
		background: #fff;
		height: 33px;
		padding-top:17px; padding-left:0;
		border-radius: 3px;
		margin-bottom: 5px;
	}
	
	ul {
		padding:0;
	}
	
	#sidebar-inner {
		width: 100%;
	}
	
	#navigation {
		float: left;
		width: 100%;
	}
	
	.container-fluid {
		max-width: 980px;
		margin: 0 auto 0;
	}
	
	.hiddenPhone{
		display: none !important;
	}
}

@media (max-width: 450px) {
	#comments {
		position: relative;
		left:0;
		width: 280px;
	}
	
	.fb_iframe_widget iframe {
		width: 280px !important;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

	.navbar-fixed-top {
		position: fixed;
		top:0;
	}
	
	.navbar-fixed-bottom {
		position: fixed;
		bottom: 0;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 1020px){
}